{% extends "main.html" %}
{% block title %}Work Programs List{% endblock %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load bootstrap_pagination %}
{% block content %}
  
        <!-- Begin Page Content -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">КАТАЛОГ РАБОЧИХ ПРОГРАММ ДИСЦИПЛИН</h1>
                <div class="col-md-4">
                <a href='#' data-toggle="modal" data-target="#Modal" type="button" class="btn btn-outline-primary btn-lg">ЗАГРУЗИТЬ CSV</a>
                <a href = "{% url 'author_update' %}" type="button" class="btn btn-outline-primary btn-lg">ДОБАВИТЬ</a>
                </div>
          </div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Загрузите csv-file</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body"><b>Формат загружаемого файла:</b>
           <ol>
           <li>#</li>
           <li>SUBFIELDCODE – Шифр ОП</li>
           <li>SUBFIELDNAME – Наименование ОП</li>
           <li>DEGREE – Квалификация</li>
           <li>SUBJECT – Дисциплина</li>
           <li>SEMESTER – Семестр</li>
           <li>START_YEAR – Год реализации</li>
           </ol>
        <form action="/uploadcsv/" method="POST" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <br>
         <label for="file"></label>
         <input type="file" name="file" id="file" class="form-control" data-filename-placement="inside" title="Выбрать файл" />  
      </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary" name="submit">Отправить</button>
        </div>
        </form> 
      </div>
    </div>
  </div>
          <div class="row">
            <!-- Pending Requests Card Example -->

            {% for workprogram in workprograms %}
            <div class="col-xl-12 mb-4">
            
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <div class="col-md-10">

                      <div class="h3 font-weight-bold text-warning text-uppercase mb-0">
                          <a href="{% url 'workprogram' pk=workprogram.pk %}">{{ workprogram.title }}</a>
                          <a href="{% url 'workprograms_update' pk=workprogram.pk %}" type="button" class="btn btn-outline-danger btn-sm"> Настроить</a>
                      </div> 

                      <div class="text-s font-weight-bold text-gray-800 mb-3">
                      {% if workprogram.hoursSecondSemester %}
                          <br> Семестров: 2
                      {% else %}
                          <br> Семестров: 1
                      {% endif %}
                          <br> Количество аудиторных часов:
                          <br> 1 семестр: {{ workprogram.hoursFirstSemester }} ч., 
                               2 семестр: {{ workprogram.hoursSecondSemester }} ч.
                      </div>
                    </div>
                  </div>

              <div class = "row">
                <div class="col-6">
                <div class="card mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Пререквизиты</h6>
                </div>
                  <div class="card-body" id = "demo">
                        {% for prerequisites_level in workprogram.prerequisites_levels %}      
                          <a href="{% url 'prereq_update' pk=prerequisites_level.pk %}" type="button" class="btn btn-light"> {{ prerequisites_level.item }}: {{ prerequisites_level.item_level }} уровень </a>
                        {% endfor %}
                        </div>
                    </div>
                   </div>
                <div class="col-6">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Ожидаемые результаты освоения дисциплины</h6>
                        </div>
                        <div class="card-body">
                            {% for outcomes_level in workprogram.outcomes_levels %}      
                              <a href="{% url 'outcome_update' pk=outcomes_level.pk %}" type="button" class="btn btn-light"> {{ outcomes_level.item }}: {{ outcomes_level.item_level }} уровень </a>
                            {% endfor %}
                        </div>
                    </div>
                  </div>

                </div>

              </div>

            </div>

            </div>
           

        {% endfor %}
        </div>
        <!-- /.container-fluid -->
 {% bootstrap_paginate workprograms range=10 show_prev_next="true" show_first_last="true" %} 
      </div>
      <!-- End of Main Content -->

{% endblock %}
