{% extends "main.html" %}
{% load render_table from django_tables2 %}
{% block content %}
{% if user.is_authenticated %}
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Связи</h1>
      </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Добавить тип связи между учебными сущностями -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Добавить</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href = "{% url 'post_relation' %}">Связь между учебными сущностями</a>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-sitemap fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</div>

      
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Связи</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                {% render_table table %}
          </div>   
</div>
</div>    
{%else%} 
    <p>У вас нет доступа к этой странице. Обратитесь к администратору</p>
    <li><a href="{% url 'index'%}">Вернуться</a></li>      
{% endif %}       
{% endblock %}